@charset "UTF-8";
section {
  height: 100vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #D182E7, #58C2FF, #9B6BF8);
}
section .container {
  background-color: #FFFFFF;
  border: solid 2px #9B6BF8;
  margin-top: 5%;
  width: 30%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1080px) {
  section .container {
    width: 40%;
    height: 80%;
  }
}
@media (max-width: 850px) {
  section .container {
    width: 50%;
    height: 80%;
  }
}
@media (max-width: 500px) {
  section .container {
    margin-top: 10%;
    width: 80%;
    height: 80%;
  }
}
section .container h1 {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}
@media (max-width: 1080px) {
  section .container h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  section .container h1 {
    margin-top: 5%;
    font-size: 25px;
  }
}
section .container img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1500px) {
  section .container img {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 850px) {
  section .container img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  section .container img {
    width: 100%;
    height: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 28%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
section .container a > span {
  color: #58C2FF;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Satisfy", cursive;
  opacity: 0; /* Comienza con opacidad 0 para que esté oculto */
  animation: fade-in 1s ease 2s forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  background: linear-gradient(to right, #D182E7, #58C2FF, #9B6BF8);
}
nav img {
  border-radius: 60px;
  border: solid 2px #FFFFFF;
}

a {
  font-family: "Satisfy", cursive;
}

#contenido {
  background: #FFFFFF;
}

.mision > img, .vision > img, section .container img {
  height: 35vh;
  width: 35vh;
  border-radius: 50px;
}

.mision > img, .vision > img {
  padding: 1rem;
  margin: 1rem;
}

.mision > img:hover, .vision > img:hover {
  box-shadow: 10px 10px 50px 5px #D182E7;
  -webkit-box-shadow: 10px 10px 50px 5px #58C2FF;
  -moz-box-shadow: 10px 10px 50px 5px #9B6BF8;
}

.mision, .vision {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 25px;
  padding: 1rem;
}
@media (max-width: 850px) {
  .mision, .vision {
    display: block;
  }
  .mision img, .vision img {
    height: 20vh;
    width: 20vh;
  }
}

.contenedor_fotos {
  width: 100%;
  display: grid;
}
@media (min-width: 500px) {
  .contenedor_fotos {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 700px) {
  .contenedor_fotos {
    grid-template-columns: repeat(3, 33.3%);
  }
}
@media (min-width: 1000px) {
  .contenedor_fotos {
    grid-template-columns: repeat(4, 25%);
  }
}
.contenedor_fotos article {
  margin: 5px;
}
.contenedor_fotos article img {
  width: 100%;
  border-radius: 10px;
  border: solid 2px #58C2FF;
}
.contenedor_fotos article img:hover {
  box-shadow: 10px 10px 50px 5px #D182E7;
  -webkit-box-shadow: 10px 10px 50px 5px #58C2FF;
  -moz-box-shadow: 10px 10px 50px 5px #9B6BF8;
}

/*# sourceMappingURL=styles.css.map */
